#copyrigt-param{
    font-size: 0.75em;
}

#logo{
    width: 10%;
    height: auto;
}

body {
    text-align: center;
}

#main-content {
    min-height: calc(100vh - 80px);
}

footer {
    height: 10px;
}
